.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14,23,43);
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
   }

   .process_button {
    background: linear-gradient(45deg, #945309 30%, #a75db677 90%);
    border-radius: 3px;
    border: 0;
    color: white;
    height: 48px;
    padding: 0 30px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  }
  
 .raser_text{
  background: -webkit-linear-gradient(45deg, #b6bddd 30%, #dfbc8977 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 .upload_button{
  background: linear-gradient(45deg, #155ab4 10%, #14429677 90%);
  border-radius: 3px;
  border: 0;
  color: white;
  height: 55px;
  width: 320px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
 .submitted_button{
  background: linear-gradient(10deg, #15cc67 10%, #45f59477 90%);
  border-radius: 3px;
  border: 0;
  color: rgb(255, 255, 255);
  height: 55px;
  width: 320px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

 .circular_progress{
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #bd3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }